# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'monday'
      time: '06:00' # UTC
    versioning-strategy: 'increase-if-necessary'
    open-pull-requests-limit: 10
    # Allow specific high-value dependency groups
    allow:
      - dependency-name: '@metamask/*'
      - dependency-name: '@agoric/*'
      - dependency-name: '@endo/*'
      - dependency-name: 'ses'

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'monday'
      time: '06:00' # UTC
    open-pull-requests-limit: 10
