/* Tailwind CSS directives - must come first */
@use './tailwind';

/* MetaMask Design Tokens */
@use '@metamask/design-tokens/styles.css';

html,
body,
body > div {
  margin: 0;
  padding: 0;
  height: 100%;
}
