name: Main

on:
  merge_group:
  push:
    branches: [main]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ !contains(github.ref, 'refs/heads/main') }}

jobs:
  check-skip-merge-queue:
    name: Check if pull request can skip merge queue
    runs-on: ubuntu-latest
    outputs:
      skip-merge-queue: ${{ steps.check-skip-merge-queue.outputs.up-to-date }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        if: github.event_name == 'merge_group'

      - name: Check pull request merge queue status
        id: check-skip-merge-queue
        if: github.event_name == 'merge_group'
        uses: MetaMask/github-tools/.github/actions/check-skip-merge-queue@v1

  check-workflows:
    name: Check workflows
    runs-on: ubuntu-latest
    needs: check-skip-merge-queue
    if: github.event_name != 'merge_group' || needs.check-skip-merge-queue.outputs.skip-merge-queue != 'true'
    steps:
      - uses: actions/checkout@v6
      - name: Download actionlint
        id: download-actionlint
        run: bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/7fdc9630cc360ea1a469eed64ac6d78caeda1234/scripts/download-actionlint.bash) 1.6.25
        shell: bash
      - name: Check workflow files
        run: ${{ steps.download-actionlint.outputs.executable }} -color
        shell: bash

  analyse-code:
    name: Code scanner
    needs: check-workflows
    uses: ./.github/workflows/security-code-scanner.yml
    permissions:
      actions: read
      contents: read
      security-events: write
    secrets:
      SECURITY_SCAN_METRICS_TOKEN: ${{ secrets.SECURITY_SCAN_METRICS_TOKEN }}
      APPSEC_BOT_SLACK_WEBHOOK: ${{ secrets.APPSEC_BOT_SLACK_WEBHOOK }}

  lint-build-test:
    name: Lint, build, and test
    needs: check-workflows
    uses: ./.github/workflows/lint-build-test.yml

  coverage-report:
    name: Coverage report
    needs: lint-build-test
    if: github.event_name == 'pull_request'
    uses: ./.github/workflows/coverage-report.yml
    permissions:
      pull-requests: write

  publish-coverage:
    name: Publish coverage to GitHub Pages
    needs: lint-build-test
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    uses: ./.github/workflows/publish-gh-pages.yml
    with:
      publish_dir: ./coverage
      destination_dir: coverage
      artifact_name: coverage
    permissions:
      contents: write

  is-release:
    name: Determine whether this is a release merge commit
    needs: lint-build-test
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    outputs:
      IS_RELEASE: ${{ steps.is-release.outputs.IS_RELEASE }}
    steps:
      - id: is-release
        uses: MetaMask/action-is-release@61ff8882da996cb68cdbc8583dc53956a1ffdd8b
        with:
          commit-starts-with: 'Release [version],Release v[version],Release/[version],Release/v[version],Release `[version]`'

  publish-release:
    name: Publish release
    needs: is-release
    if: needs.is-release.outputs.IS_RELEASE == 'true'
    permissions:
      contents: write
    uses: ./.github/workflows/publish-release.yml
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

  all-jobs-complete:
    name: All jobs complete
    runs-on: ubuntu-latest
    needs:
      - analyse-code
      - lint-build-test
    outputs:
      passed: ${{ steps.set-output.outputs.passed }}
    steps:
      - name: Set passed output
        id: set-output
        run: echo "passed=true" >> "$GITHUB_OUTPUT"

  all-jobs-pass:
    name: All jobs pass
    if: ${{ always() }}
    runs-on: ubuntu-latest
    needs:
      - all-jobs-complete
      - check-skip-merge-queue
    steps:
      - name: Check that all jobs have passed
        env:
          PASSED: ${{ needs.all-jobs-complete.outputs.passed == 'true' || needs.check-skip-merge-queue.outputs.skip-merge-queue == 'true' }}
        run: |
          if [[ "$PASSED" != "true" ]]; then
            exit 1
          fi
